body {
  margin: 0;
  min-height: 100vh;
}

/* พื้นหลัง */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("../IMG/Google-logo-Googleplex-headquarters-Mountain-View-California.webp") center / cover no-repeat;
  opacity: 0.5;
  z-index: -1;
}

/* โครงหลัก */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header / footer */
header {
  min-height: 220px;
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../IMG/google.png") center / cover no-repeat;

  display: flex;
  align-items: center;     /* กลางแนวตั้ง */
  justify-content: center; /* กลางแนวนอน */
  text-align: center;
  color: white;
  padding: 0;              /* ตัด padding เดิม */
}


footer {
  padding: 1em;
  background: black;
  color: white;
  text-align: center;
}
/* main: ซ้าย–ขวา */
main {
  flex: 1;
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* nav ซ้าย */
nav {
  width: 150px;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  padding: 1em;
  flex-shrink: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* เนื้อหาขวา */
article {
  flex: 1;

}

/* กล่องข้อความ */
p {
  background: rgba(227,230,222,0.85);
  padding: 20px;
  border-radius: 10px;
  line-height: 1.8;
}

p.name {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}   
/* ปุ่ม */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ผู้จัดทำ */
.creator {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.creator-card {
  flex: 1;
  background: rgba(255,255,255,0.85);
  padding: 20px; 
  border-radius: 12px;
  text-align: center;
}

/* footer ลงล่าง */
footer {
  margin-top: auto;
}
